// Colors
$black_10: rgba(0, 0, 0, 0.1);
$color_silver: #cacaca;
$black: black;
$black_30: rgba(0, 0, 0, 0.3);
$color_alto: #ddd;
$color_gray: #888;
$color_gallery: #eee;
$color_alabaster: #f8f8f8;
$color_red: #fd625e;
$dark-color: #1a1a1a;
$light-grey-color: #f5f5f5;
$main-color-light: #a4a4a4;
$main-color-dark: #494949;